/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
body {
    max-width: 1140px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn-primary{
    padding: 8px 30px;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 20px 0;

}

/* header style */


/* Navbar Style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
}

.brand{
    align-items: center;
}

.brand-name{
    font-weight: 700;
    font-size: 2rem;
}

.menu1{
    font-weight: 700;
    font-size: 1.25rem;
    color: orange;
}

.menu2{
    font-size: 1.25rem;
    color: skyblue;
}

.menu3{
    font-size: 1.25rem;
    color: #05D4DF;
}

.menu4{
    font-size: 1.25rem;
    color: #5D58EF;
}

.button{
    font-weight: 500px;
    font-weight: 1rem;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
    background-color: orange;
}

/* Banner Style */
.banner{
    margin: 20px 0 ;
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-content{
    gap: 20px;
}

.banner-title{
    font-weight: 700;
    font-size: 3.8rem;
    margin: 20px 0;
}

.banner-title1{
    color: orange;
}

.banner-title2{
    color: skyblue;
}

.banner-img{
    width: 100%;
}


/* responsive media query */

.nav-hr{
    display: none;
}

.menu-toggle{
    display: none;
}

@media screen and (max-width: 576px){
    .brand-name, .button, .nav-links{
        display: none;
    }

    .nav-links, .banner{
        flex-direction: column;
    }

    .nav-hr{
        display: block;
        padding: 1px;
        border: none;
        background-color: orange;
    }

    .menu-toggle{
        display: block;
        font-size: 30px;
    }

    .banner{
        flex-direction: column-reverse;
    }

    .banner-content, .btn-primary{
        text-align: center;
    }


}
