/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

header {
    max-width: 1160px;
    margin: 0 auto;
}

.btn-primary {
    padding: 8px 30px;
    color: white;
    background-color: black;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 20px 0;
}

.curriculum-h3,
.stories-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700px;
}

/* Header Style */

/* Navbar Style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
}

.brand {
    align-items: center;
}

.brand-name {
    font-weight: 700;
    font-size: 2rem;
}

.menu1 {
    font-weight: 700;
    font-size: 1.25rem;
    color: orange;
}

.menu2 {
    font-size: 1.25rem;
    color: skyblue;
}

.menu3 {
    font-size: 1.25rem;
    color: #05D4DF;
}

.menu4 {
    font-size: 1.25rem;
    color: #5D58EF;
}

.button {
    font-weight: 600px;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
    background-color: orange;
}

/* Banner Style */
.banner {
    margin: 20px 0;
    align-items: center;
    gap: 50px;
}

.banner-content {
    gap: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 3.8rem;
    margin: 20px 0;
}

.banner-title1 {
    color: orange;
}

.banner-title2 {
    color: skyblue;
}

.banner-img {
    width: 100%;
}

/* Main Section */
/* Standard Curriculum Style */
.curriculum {
    max-width: 1160px;
    margin: 0 auto;
    padding: 60px 0;
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-position: center;
}

.curriculum-cards {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 80px 0;
    gap: 28px;
}

.curriculum-h {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
}

.curriculum-p {
    margin: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}

.curriculum-card1,
.curriculum-card2,
.curriculum-card3 {
    border-radius: 18px;
    padding: 60px 20px;
}

.curriculum-card1 {
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
    border: 1px solid #DEF5FF;
}

.curriculum-card2 {
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
    border: 1px solid #FFF4DC;
}

.curriculum-card3 {
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
    border: 1px solid #F2E8FF;
}

.curriculum-a1 {
    text-decoration: none;
    color: #64C8FF;
    font-weight: 700;
}

.curriculum-a2 {
    text-decoration: none;
    color: #F0AA00;
    font-weight: 700;
}

.curriculum-a3 {
    text-decoration: none;
    color: #8700FF;
    font-weight: 700;
}

.curriculum-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.curriculum-circle-btn {
    width: 60px;
    height: 60px;
    background-color: #F4A132;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.curriculum-circle-btn span {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.left-arrow::before {
    content: '<';
}

.right-arrow::before {
    content: '>';
}

/*  */
marquee{
    font-size: 2rem;
    font-weight: 700;
    color: red;
  }


/* Stories Container Style */
.stories {
    padding: 80px 0;
    background: linear-gradient(to top, rgba(254, 163, 1, 0.3), #FFFFFF),
        url(./assets/bg.png);
    background-size: cover;
    background-position: center;
}

.stories-title {
    margin-bottom: 60px;
}

.stories-container {
    max-width: 1160px;
    margin: 0 auto;
    gap: 20px;
}

.container1 {
    overflow: hidden;
}

.card1 {
    width: 540px;
    height: 630px;
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
}

.card1 img {
    margin-top: 0;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    width: 290px;
    height: 305px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    margin-top: 0;
}

.card-content {
    padding: 30px;
}

.card-title1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 30px;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 30px;
}

.date-badge-1 {
    background: #3CD8E8;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    top: -12px;
}

.date-badge {
    background: #95B226;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    top: -12px;
}

.date-badge3 {
    background: #5D58F0;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    top: -12px;
}


.stories-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}



/* Footer */
footer {
    background-color: #01ACFD;
    color: #FFFFFF;
}

.footer-container {
    justify-content: center;
    gap: 200px;
    padding: 80px 0;
}

.footer-logo{
    font-size: 2rem;
    align-items: center;
    margin-bottom: 20px;
}

.footer-img{
    height: 80px;
    margin: 0 ;
    padding: 0;
}


.about, h5 {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

.social-h4, 
.about-h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-icon {
    margin-top: 20px;
}



/* Responsive Media Query */

.nav-hr {
    display: none;
}

.menu-toggle {
    display: none;
}


/* Small Device */
@media screen and (max-width: 576px) {

    .brand-name,
    .button,
    .nav-links,
    .curriculum-btn,
    .container1 {
        display: none;
    }

    .nav-links,
    .banner,
    .curriculum-cards {
        flex-direction: column;
    }

    .banner,
    .curriculum-cards,
    .stories {
        margin: 40px 10px;
    }

    .nav-hr {
        display: block;
        padding: 1px;
        border: none;
        background-color: orange;
    }

    .menu-toggle {
        display: block;
        font-size: 30px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 2.25rem;
    }

    .banner-content,
    .btn-primary {
        text-align: center;
    }

    .curriculum-h3 {
        font-size: 1.75rem;
    }

    .banner,
    .curriculum-cards {
        margin: 40px 10px;
    }

    .container2 {
        gap: 10px;
    }

    .card {
        width: auto;
    }

    .card-title {
        padding: 0 10px;
    }

    .date-badge {
        font-size: 0.7rem;
        padding: 2px 5px;
        position: relative;
        left: 10px;
        top: -14px;
    }
    
    .date-badge3 {
        font-size: 0.7rem;
        padding: 2px 5px;
        position: relative;
        left: 10px;
        top: -14px;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        gap: 50px;
    }

}